* {
    margin: 0;
    padding: 0;;
}
.container {
    padding-top: 20px;
    .row {
        margin: 0;
        h1 {
            font-size: 20px;
            margin-top: 20px;
        }
        button,#zero{
            border-radius: 20px;
            
        }
        #one {
            background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(157,40,143,1)), color-stop(100%,rgba(55,42,127,1)));
        }
        #content {
            height: 500px;
        }
    }
}
.flex {
    display: flex;
}
