nav {
    background-color: white !important;
    .input-field {
        border-radius: 3px;
        border: solid 1px lightgray;
        margin-top: 15px;
        background-color: #fafafa;
        height: 28px;
        padding-bottom: 10px;
        input {
            margin: 0 !important;
            font-size: 11px;
        }
        label {
            left: 0px;
            margin: 0 !important;
            i {
                line-height: normal;
                color: grey;
            }
        }
        i {
            margin: 0 !important;
            right: 0 !important;
            top: -19px !important;
        }
    }
}

.container {
    .card {
        .row {
            margin: 0 !important;
            .circle {
                height: 32px;
                width: 32px;
                padding: 0 !important;
                margin: 10px;
            }
            .userpost {
                padding: 0 !important;
                margin-top: 10px;
            }
            i {
                margin: 10px;
            }
            div {
                img {
                    width: 100%;
                }
                ul {
                    li {
                        margin: 5px;
                    }
                }
            }
            span {
                span {
                    font-weight: 500;
                }
            }
            .date-time {
                color: grey;
            }
            .row {
                padding-bottom: 10px;
            }
        }
    }
}